;; shadow-cljs configuration
{:source-paths

 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.2.0"]]

 :builds
 {:app {:target :browser
        :output-dir "public/assets/app/js"
        :asset-path "/assets/app/js"
        :modules {:main {:entries [app.core]
                         :init-fn app.core/init}}
        :devtools {:http-root "public"
                   :http-port 8280
                   :after-load app.core/mount}}}}
